<main>
    <div class="container">
        <h2>マイページ</h2>
        <h4 style="margin-top:20px;">登録情報</h4>
        <div style="margin:20px 0; ">
        <%#= link_to '編集する',edit_user_path, class: "btn btn-success" %>
        </div>
        <table class="table table-bordered">

            <tr>
                <th>メールアドレス</th>
                <td><%= @user.email%></td>
            </tr>
        </table>

        <h3 style="margin:20px 0; ">顧客</h3>
        <%= link_to '一覧を見る',customers_path, class: "btn btn-primary" %>
        <h3 style="margin:20px 0; ">注文履歴</h3>
        <%#=link_to '一覧を見る',orders_path, class: "btn btn-primary" %>
    </div>
</main>